@model es_poc.Models.SearchDetailsViewModel

@{
    ViewData["Title"] = "SearchDetailsViewModel";
}

<h2>SearchDetailsViewModel</h2>

<div>
    <h4>SearchDetailsViewModel</h4>
    <hr />
    <img src='@Url.RouteUrl(new { action = "GetImage", controller = "Home", filename = Model.imageFilename })' />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.additionalProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.additionalProperty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
